<h2>Welcome to A-Lister!</h2>


<h3>search for an actor's movies:</h3>
<%= form_tag("/welcome", method: "get") do %>
  <div>
      <%= text_field_tag(:actor, nil) %>
      <%= submit_tag("Search") %>
  </div>
<% end %>

<h3>search for an movie's cast:</h3>
<%= form_tag("/welcome", method: "get") do %>
  <div>
      <%= text_field_tag(:movie, nil) %>
      <%= submit_tag("Search") %>
  </div>
<% end %>