<% if @movies  %>
  <%= "Movies that #{@actor.titleize} has performed in:" %>
  <img src="<%= @actor_image %>" style="display: block;">
  <ul>
    <% @movies.each do |movie| %>
      <li><%= movie.html_safe %></li>
    <% end %>
  </ul>
<% end %>


<% if @actors  %>
  <%= "The cast of #{@movie.titleize}:"%>
  <img src="<%= @movie_poster_image %>" style="display: block; height: 200px; width=auto;">
  <ul>
    <% @actors.each do |actor| %>
      <li><%= actor.html_safe %></li>
    <% end %>
  </ul>
<% end %>